.row {
    display: flex;
    width: 46rem;
}

.column {
    display: flex;
    flex: 1;
    aspect-ratio: 1 / 1;
    border: solid black 1px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

}

#grid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}